@font-face {
    font-family: Light;
    src: url("font/S-Core_Dream_OTF/SCDream3.otf");
}

@font-face {
    font-family: Bold;
    src: url("font/S-Core_Dream_OTF/SCDream6.otf");
}

* {
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    margin: 30px 80px;
    background: rgb(255, 178, 178);
    background: linear-gradient(0deg, rgba(255, 178, 178, 1) 0%, rgba(0, 20, 160, 1) 100%);
}

p {
    font-family: sans-serif;
    color: magenta;
    font-weight: bold;
    padding: 2px 0 5px 7px;
}

.krkdstory {
    font-family: Light;
    font-size: 1rem;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    margin: 10px 0;
}

.story {
    font-family: Light;
    font-size: 1rem;
    line-height: 1.4rem;
    color: black;
    font-weight: normal;
    padding-top: 6px;
    padding-bottom: 20px;
}

.age {
    font-family: Light;
    font-size: 1rem;
    line-height: 1.4rem;
    color: black;
    font-weight: normal;
    padding-top: 15px;
    text-align: right;
}

.like-counter {
    color: black;
    text-decoration: none;
}

.vote {
    display: inline;
    margin: 0;
}

.unliked {
    display: block;
}

h1 {
    font-family: Bold, Fallback, sans-serif;
    font-size: 3rem;
    color: #ffff00;
}

h2 {
    font-family: Light, Fallback, sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #33ffcc;
    padding: 20px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-box {
    padding: 20px 30px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-family: Light;
    font-size: 1rem;
    margin: 10px;
    line-height: 1.5rem;
}

.image-box:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.image-box img {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.caption {
    width: inherit;
    background-color: white;
    font-family: Light;
    font-size: 1rem;
    padding: 20px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.text-box {
    background-color: #fff;
    width: 500px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2rem;
    margin: 0.7rem;
}

.text-box2 {
    background-color: #fff;
    width: 500px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2rem;
    margin: 0.7rem;
}

.text-box:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 80px;
}

footer img {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    body {
        margin: 30px 15px;
    }
}